* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(108, 119, 59);
   
}

#card{
    height: 500px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    
    position: relative;
}

#storiyan{
    height: 120px;
    width: 100%;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storiyan::-webkit-scrollbar{
    display: none;
}

.story {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border:3px solid red;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    
}

.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
#full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;  
    
}